[2016-10-25 07:29] vdwijngaert opened #1 "epc_exempt_uri_contains runs before theme"
Great start!

I couldn't help but notice this line of code:

`$this->cache_exempt = apply_filters( 'epc_exempt_uri_contains', array( 'wp-admin', '.php', 'checkout', 'cart' ) );
`

This implies that you can alter the array of cache exceptions. I could be wrong, but doesn't this line of code run before the theme initializes? I think plugins that are being loaded after EPC don't get a chance to hook

[2016-10-26 21:06] MikeHansenMe commented on #1
You are correct. You would have to include another mu-plugin to get in there before that runs. I could update it to be an option with that array as the default. Then a theme/plugin could modify that option and get in there before the theme/plugin even loads.

Thanks for catching this and opening an issue.

[2016-10-27 07:48] vdwijngaert commented on #1
Happy to help! :)

[2016-10-27 14:52] MikeHansenMe commented on #1
I think I found a better solution that an option by just moving the filter where it can be hooked (on init before 10).

https://github.com/bluehost/endurance-page-cache/commit/a6203b7efa6c1671bac9b2af11ca2a895f0d3fe2

[2016-10-27 14:52] #1 closed

[2016-11-18 09:13] marcperel opened #2 "Minification Breaking LayersWP sites."
Hey Guys,

Great work on the EPC, we have an issue however, some sites using the EPC and Layers are having an issue where their sliders are breaking, no doubt this is related to the minification.

The minification script is not clearing single line comments `//`, for example this script is kept in the minified script and essentially comments out the rest of the code:

```// Anchors```

It can be s

[2016-11-28 21:16] lvl99 opened #3 "Need a way to force flushing the page cache"
I am currently trying to help a friend debug an issue with her site. Seems the page cache has cached her homepage (which had WP Maintenance Mode plugin showing a countdown) and now her homepage is stuck on the countdown, even though she has disabled the WP Maintenance Mode plugin.

If there was a way to flush the page cache through the plugin (or through a query var, à la W3 Total Cache) then that

[2016-11-29 07:45] barkgj opened #4 "Breaks site"
We get support questions on our theme because of an issue in the plugin.
Your plugin breaks this site while serving cached ouput; http://www.highpointfarmhudson.com/events/
Video showing the issue; https://www.youtube.com/watch?v=Abgaplg4lmk

[2016-11-30 23:47] stodorovic opened #5 "Plugin should not break XML/JSON"
Example:
[code]

So, a solution could be to check REST_REQUEST and don't cache REST API. Alternative solution is to use DONOTCACHEPAGE and don't cache page if it's defined (standard in almost all cache plugins). I think that isn't too complicated to add it into the code.

[2016-12-01 10:03] georgejipa commented on #3
Hello @lvl99,

You can empty the cache... by deleting the cached files from /wp-content/endurance-page-cache/ folder. In a future release of WPMM, I will try to delete/refresh the cache (generated by endurance-page-cache
) when the maintenance mode is activated/de-activated.

Thanks,
WP Maintenance Mode Dev

[2016-12-06 05:11] MikeHansenMe commented on #5
Just added
https://github.com/bluehost/endurance-page-cache/commit/31a3d242ca702c92fe1b3949f04f63a56daf15f2

https://github.com/bluehost/endurance-page-cache/commit/7750c25df07caa9101046bf9876351e511a38bf4

https://github.com/bluehost/endurance-page-cache/commit/cb4f850f19a0f2f03ac7a06092697daea560be9e

Those should prevent it from caching the wp-json api and xml.

Please let me know if that works

[2016-12-06 05:20] MikeHansenMe commented on #4
Thank you for the video showing the issue. This is due to a single line comment in the javascript.

I have removed the minification from the plugin and that should correct the issue.
https://github.com/bluehost/endurance-page-cache/commit/9e090cb03ac352af7c5e62792d894800a09de115

Please let me know if you see any additional issues.

[2016-12-06 05:21] MikeHansenMe commented on #3
This should be fixed by the PR georgejipa submitted.

https://github.com/bluehost/endurance-page-cache/pull/6

Thanks @lvl99 for reporting.

Thanks @georgejipa for the PR.

[2016-12-06 05:24] MikeHansenMe commented on #2
Thanks for reporting this issue @marcperel. https://github.com/bluehost/endurance-page-cache/commit/9e090cb03ac352af7c5e62792d894800a09de115 should fix the problem.

[2016-12-06 08:10] marcperel commented on #2
Baller, thanks @MikeHansenMe

[2016-12-06 08:10] #2 closed

[2016-12-16 21:44] cleyda commented on #4
This plugin is also breaking our website. Apparently, Bluehost installed it on customer servers, and our nonprofit was very unfortunate to be a customer.

When our website was disrupted, I contacted customer support and logged into my cpanel account, to review the server situation. I identified a few of the resources for this project and alerted the Bluehost tech, pointing how out this seems to be

[2016-12-16 21:49] MikeHansenMe commented on #4
Hi @cleyda currently the only reason your site would have received the plugin is if we saw the site experiencing a spike of traffic. In an effort to help you keep your site online and not effect others on your server we add this plugin and have seen substantial performance improvements. Not sure what about it looks like a hack job but if you would like to provide some specifics, including a domain

[2016-12-16 22:34] MikeHansenMe commented on #5
Closing per the commits above.

[2016-12-16 22:34] #5 closed

[2016-12-16 22:36] MikeHansenMe commented on #3
Closing because the PR merged 11 days ago.

[2016-12-16 22:36] #3 closed

[2016-12-18 23:14] rhadiaris opened #7 "Unintended caching experience"
On www.duluthcurlingclub.org, we are noticing the home page is not updating after doing things in the Wordpress admin (like deleting images from news posts).  We are also noticing that highly dynamic pages (like our league pages which have updated scores from matches) are not updating either.

We did not ask for this plugin.  Can it please be removed so our site behaves as expected, or can these i

[2016-12-29 19:46] cleyda commented on #4
Can we discuss the website over PM? I'm happy for the plugin to be on our server, assuming it works properly. The system reinstalled the plugin this morning, and once again it messed up our website.

[2016-12-29 21:44] DabidK opened #8 "Endurance-Page-Cache Creating Thousands of Unwanted Directories?"
I happened to log into my Bluehost account today and noticed that I got a File Count error telling me “Your account contains more than 9740 directories and may pose a potential performance risk to the server.<br>Please reduce the number of directories for your account to prevent possible account deactivation.”

I was really surprised to see this, as I was nowhere **_near_** that number of director

[2016-12-29 21:52] MikeHansenMe commented on #8
I will look into it and get it removed for you. We automatically add it
when your site receives the spike in traffic in an attempt to prevent the
site from crashing.

On Dec 29, 2016 2:44 PM, "DabidK" <notifications@github.com> wrote:

[2016-12-29 21:56] DabidK commented on #8
Wow, thank you for the incredibly fast reply, Mike! I really appreciate it!

My primary domain is toyreviewdaily.com. Do you need the names of my sub-domains as well?

Thanks so much for being so helpful so quickly!!

[2016-12-31 00:19] MikeHansenMe commented on #8
Hey @DabidK just wanted to follow up a bit. We did get this taken care (removed) of for you yesterday but I just wanted to relay a bit of info back to you. It looked like you had version 0.1 installed on your site. We have made a lot of improvements since that version. We have seen some large performance gains out of using this plugin and in the future plan on expanding it to help optimize some of

[2016-12-31 00:19] #8 closed

[2017-01-04 17:47] emgorman opened #9 "Cache needs to purge_all with other conditions"
We make two changes to our website regularly:
1. We edit a Gravity Form and change a field. Save Gravity Form.
2. We add events using Tribe Events Plugin.

Is there a way to purge all pages anytime one of these actions are complete?

We do not update posts, pages, etc. And the editors do not have access to plugins to click the PURGE ALL button on your plugin.

Thank you!

[2017-01-04 17:52] emgorman opened #10 "Upgrading from Version 0.2 to Version 0.3"
I noticed when I upgraded from Version 0.2 to Version  0.3 that the PURGE ALL button and the DISABLE button disappeared from the plugins list in my admin area. See screenshot.

Is there a reason why Version 0.3 is not able to PURGE ALL? And the DISABLE button disappeared.
[plugin-missing-purgeall.pdf](https://github.com/bluehost/endurance-page-cache/files/685450/plugin-missing-purgeall.pdf)

[2017-01-04 18:32] knighthawk-37 commented on #4
to re-iterate @cleyda, I too would really like some kind of notice when something like this is placed on one of the sites I manage. I manage over 30 websites on multiple servers including BlueHost and it is quite annoying to find BH uploading MU plugins without my knowledge and changing my .htaccess file as well. Only to have me make some updates for one of my clients while I am on the phone with

[2017-01-04 19:08] MikeHansenMe commented on #10
It should not have disappeared. I will take a look.

[2017-01-05 19:30] cleyda opened #11 "Safely Disabling the plugin"
What is the best way to properly (and safely) disable the plugin? For example, it does not seem that disabling the plugin restores the htaccess file (e.g. the mod rewrites that redirect to the cache are not removed).

This might mean that if the plugin is disabled, htaccess will continue to direct traffic to the cached pages (which may not be monitored for updates, now that the plugin is disabled)

[2017-01-13 20:57] lukecav commented on #11
You can just manually write out the default WP htaccess code into the site .htaccess file.

`# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress`

[https://codex.wordpress.org/htaccess](url)

[2017-01-17 00:23] DabidK opened #12 "Endurance-Page-Cache Force Reinstalling Itself on All My Sites"
A couple weeks ago I was having problems where Endurance-Page-Cache had been installed across all my domains by Bluehost without my knowledge or permission, causing me to have thousands of unwanted directories and get warnings from BlueHost about exceeding my directory quote. Mike Hansen was nice enough to get the plugins removed for me and I thought the problem was solved.

Unfortunately, I logge

[2017-01-17 02:04] MikeHansenMe commented on #12
Hey Dabid, like I mentioned in the email response. This was added to your site because it(your account) is using a lot of resources. Normally the file count for an average website is not not a problem but looking at your account it looks like there is a number of sites. I removed the plugin and updated the htaccess file on your primary domain. Please contact tech-support if you have any further qu

[2017-01-17 02:04] #12 closed

[2017-01-18 23:15] lukecav commented on #9
@emgorman

If you resave the page where the Gravity Form is used on, then the cache for that page will be purged, otherwise  there is no trigger other than form being updated in wp-admin.

Where on the site are the events being featured?

[2017-01-19 14:29] emgorman commented on #9
Thank you - Is there code I can add to auto purge all files/pages after a certain amount of time, such as every 24 hours? That would solve all of my issues.

Or is there a way to exclude urls from being cached?

Also, the events page is here: https://goo.gl/EIy0fl
This url is not really a page I can edit in wp-admin, it is auto generated by the Tribe Events plugin. There is no way to
Events get ad

[2017-01-19 14:33] emgorman commented on #7
My dynamic pages were not getting updated either.

I was able to remove the plugin by accessing the site via ftp and going to wp-content/mu-plugins and deleting both folders there. You also have to remove the code it wrote to your .htaccess file in the root.

 I can see how it would help make the site faster, and I would be happy to turn it back on once they figure out a way to let me exclude urls

[2017-01-19 14:36] emgorman commented on #4
Truth.

[2017-01-27 11:10] sangemaru opened #13 "Need to have control over this plugin"
We need to be aware when this plugin is installed (notification inside the WP admin area) as well as have control over cache purging. Otherwise (as I see from the other issue threads) lots of users are going to be wasting lots of hours troubleshooting isses with their websites without realizing the trouble lies with a plugin automatically installed by bluehost without our knowledge and permission.

[2017-01-30 16:45] MikeHansenMe commented on #13
Hey @sangemaru thank you for your feedback. We do need to find a way to better communicate when this is added to a site. We are working to make the purging as accurate and automatic as possible. There should be a purge button on the plugin page that you can "purge all". In fact the primary purpose of this plugin (besides the performance gains) are to get the purging right because we want to have i

[2017-01-30 16:45] #13 closed

[2017-02-08 14:18] redywebs opened #14 "WPML incompatibilities"
Although I like how plugin speed up our site, I have to disable plugin as it breaks WPML language switcher and theme css. I could not find endurance-page-cache folder.

[2017-02-16 00:52] BlindDespair opened #15 "Homepage is always loading cached version only"
Hello. My client has a website on Blue Host and he hired me to solve the issue where the main page on the website doesn't update after changes in wordpress. I tried clearing all kinds of caches, disabled it, changed .htaccess file, nothing helped. Then I went to file manager, deleted everything from endurance-page-cache
folder, it also didn't help. I just can't find where this cached version of pa

[2017-02-16 01:37] rowdya22 commented on #15
The cache of stored in the wp-content/endurance-page-cache/ folder. When this folder is deleted the cache is essentially cleared. If this solution didn't work for you, check if your account has varnish caching and consider disabling it to test.
The endurance-page-cache plugin is usually partnered with the endurance-browser-cache, because of this also be certain to clear your cache and cookies.

[2017-02-16 08:16] BlindDespair commented on #15
I disabled has varnish caching as well at the very beginning too. This is not browser cache for sure, because if I open it in another browser or even on another device in another version it opens cached version. Also I checked what GET request and response headers page has, it says last modfied 11 February. Also it had status 304 Not modified. However request with no-cache headers returned status

[2017-03-07 22:52] lukecav commented on #15
@BlindDespair
![endurance page cache](https://cloud.githubusercontent.com/assets/5797332/23681832/d7a00a44-034d-11e7-8ee7-7e2b8ade7061.png)

You can purge the cache from Plugins > Must-Use.

[2017-03-11 19:09] sr3d commented on #4
+1 this is very annoying.

I needed to update a certain WP site and the changes were randomly refreshed and thus causing me a lot of surprises, until I found out that the whole page was cached by endurance-page-cache (found  at the bottom of the page).

At least the plugin should show up in the Installed Plugins list with a clear description like "This plugin was installed automatically by BlueHos

[2017-03-14 15:07] BrettGregson opened #16 "What kind of mickey mouse hosting company installs plugins without notifying their customers?"
You installed some caching thing on a wordpress site of one of my clients without notifying us. How do I remove it?

[2017-03-23 13:18] sapila commented on #15
where do i find this option ? how else do i disable this ?

[2017-03-24 21:31] lukecav commented on #15
@sapila

Got to Plugins > Must-Use.

[2017-03-25 08:22] sapila commented on #15
Yeah but ...where do i found the plugins option ? I cant seem to find it ....
![desktop](https://cloud.githubusercontent.com/assets/6667204/24320787/99db32c2-113c-11e7-8a44-3a92a9e6dbd0.jpg)

[2017-03-25 15:21] lukecav commented on #15
@sapila

It would be in WordPress Admin under Plugins on your site.

https://codex.wordpress.org/Managing_Plugins

[2017-03-25 19:23] sapila commented on #15
cool thnx ... i just chatted with someone from the support and he disabled the plugin.., thnx @lukecav

[2017-04-19 12:44] #15 closed

[2017-04-23 05:35] czenzel commented on #7
I am also having this issue on a client site. the home page will not update at all no mater what I do. It turns out after doing HTTP header diagnosis, because the support guy at BlueHost just randomly disappeared, returned that the X-Proxy cache headers were stale and would not update. I am not running this plugin on the site yet. I would recommend that @bluehost check their reverse proxies and Va

[2017-04-27 08:11] tvdir opened #18 "My website isn't refreshing"
Hi,
It looks like I'm having this issue on my Wordpress-hosted website. My homepage isn't refreshing. It stays on the previous homepage and is not updating when new content are posted. I don't understand why this plug-in is in my Wordpress site or why Bluehost has included this. I have been on two Bluehost chat lines for several hours trying to get this issue resolved, but so far no luck. Somebody

[2017-04-27 14:40] MikeHansenMe commented on #18
Hey tvdir, can you give me your domain? I can look into why your home is not refreshing.

[2017-04-27 16:08] tvdir commented on #18
Thank you. SidewalksTV.com

Right now, it's still on a previous homepage without my updates. Every browser is showing different versions of info.

[2017-05-03 04:03] tvdir commented on #18
I have noticed you have worked on the plugin since my request. Thank you for looking into this. I really wish I could have the plugin disable. The new changes do appear (finally), but only if you refresh a couple of times. When a repeat visitor comes to our site,  they will most likely see the old cached version. So, unless they press home a couple of times, they will think nothing has been update

[2017-05-05 20:42] tvdir commented on #18
My website isn't updating again. Please, please, please dissble this plugin. This isn't working. i have been patient. I have more new content this weekend. Thanks very much.

[2017-05-05 22:07] MikeHansenMe commented on #18
Hey tvdir, I had changed the cache level to 0 for you. I just changed it to 1 to see if that will work better for you. 1 is asset only caching which means html will not cache and only css, js and images will. Please let me know if you continue to have trouble.

[2017-05-06 00:24] tvdir commented on #18
Thank you, but it is still not working. My saved page is still on the previous info. I have been refreshing/reloading. I tried shift+reload and then the new info is there, but when i go back to the page it has returned to the old info. Also, my home page has random posts to display (popular interviews at the bottom of the page) and that is not changing either. I keep hitting refresh and that secti

[2017-05-06 00:59] MikeHansenMe commented on #18
Page caching on the server is turned off. It looks like it may be your CDN caching things now.

[2017-05-09 18:29] singpretty opened #19 ".htaccess edits cause wp-login to endlessly redirect to itself?"
HostMonster added Endurance to must-use on my various Wordpress installations.  Now, I find I can't log into 5 out of 7 of my Wordpress sites normally.

The login screen appears correct, but when I submit my user/password, the page just reloads as a blank login screen once again.  (I wondered if it had nonetheless logged me in, but when I tried opening the site in a new tab, I was not logged in.)

[2017-05-23 01:32] hanasazi commented on #4
I had a problem with a site that was so messed up by EPC that any browser was trying to download  my client's site rather than display it. Naturally, hours on the phone/chat with support, no mention of the plugin or how to clear its cache, and nearly two weeks of downtime for my client's business website. That was a hideous, embarrassing situation that I NEVER want to go through again. I'm a Blueh

[2017-05-27 16:26] megrimm commented on #16
this is a nightmare... i just spend several hours trying to figure out why code changes were not being reflexed in the browser.

cacheing? really? while developing? wtf...

[2017-06-02 16:40] MikeHansenMe commented on #16
Hi @BrettGregson sorry for the delay. If you would like to remove it, you have a few options. On the settings general page you can set the level to 0. On the plugins -> mu-plugins page you can click disable. And after doing either of those two if you would like to remove it entirely you can delete the file mu-plugins/endurance-page-cache.php from your install.

[2017-06-02 16:44] MikeHansenMe commented on #16
@megrimm if you are doing dev on the server it would make sense that caching would get in your way. There are a number of triggers to cause a purge but nothing looks for code changes. There is a purge button on both the plugins->mu-plugins screen and in the admin toolbar (v0.8). I think a better solution may be for us change the cache level to 0 if WP_DEBUG is true. I will try to get that into the

[2017-06-02 17:37] megrimm commented on #16
thanks and apologies for the rant. that day cost me several hours trying to figure out the cause of why pages were not reflecting changes. i basically purged everything I could think of on my local system (thinking that is where the problem originated) only to find this server side caching which, I assume, customers were not informed of. It might not be the cache that is the biggest problem but th

[2017-06-02 17:43] MikeHansenMe commented on #16
@megrimm no problem. I understand and you are not wrong in that we can be better about communicating this to customers. Currently the two ways you can get caching are if you have done a new wp install using one of our installers in say the last 6 months or if the site is under a traffic spike and we attempt to cache it as an alternative to it crashing.

[2017-06-08 13:46] wesbos opened #20 "No way to clear cache"
Is bluehost enabling this plugin without my permission? Not cool at all.

Just wasted an hour trying to figure out why my permalink changes were not being affected.

How do I disable this for bluehost?

[2017-06-08 13:50] wesbos commented on #16
Super bad move - I'll no longer be recommending Bluehost to any of my students

[2017-06-08 13:53] callummr commented on #16
Had a number of sites with bluehost for a few years and the poor performance hasn't been quite enough to persuade me to move, but modifying customer sites as you please without any comms certainly is. Thanks @BrettGregson for raising the issue so others don't lose so much time.

[2017-06-08 14:17] MikeHansenMe commented on #20
hey @wesbos can you give me a domain? There should be both a clear cache button & it should automatically be fired on a permalink change. If this is not happening, I would love to dig in and find out what is going on.

[2017-06-08 15:47] ostoh commented on #16
I gave up on Bluehost because of such nonsense. Multiple URL injections and cache issues.

[2017-06-08 20:29] amriemytakeontv opened #21 "Cache Issues with Safari / Explorer"
Hello - recently added endurance caches have screwed up my site - tried disabling / moving them out of the mu-plugin folder, but now, only if I'm logged in and on Chrome/Firefox, sometimes Safari, can I see updates/posts posted today.   Domain is mytakeontv.com.  I believe I'm currently set at 0, with everything enabled.  Might be something with my .htaccess?  Please help???

[2017-06-08 20:47] MikeHansenMe commented on #21
I will take a look and get you taken care of.

[2017-06-08 20:57] amriemytakeontv commented on #21
I'm working on a back up, so don't know if we need to wait that out?  Just let me know!
Thanks!

[2017-06-08 21:08] MikeHansenMe commented on #21
So I just looked at the account. This one did not get the cache plugin during install or through an interface. It has some other things going on. That explains why setting a level of 0 is not effecting it.  Can you send me an email at mike.hansen [a] endurance.com?

[2017-06-14 10:49] TomClive commented on #19
Yep, we've just had the same issue and it's very poor from Bluehost. This change was made without notification and it took down the website during a critical week for the project. No access to admin area either.

I just replaced the new htaccess with the default htaccess from Wordpress Codex and deleted the endurance plug-in.
https://codex.wordpress.org/htaccess

[2017-06-14 11:15] TomClive commented on #16
@MikeHansenMe Advice to change the settings for the plugin isn't much help when the htaccess file has been amended and this has prevented access to site and admin area. Nothing was acccesible.

Our affected installation is in a sub-directory and  we made custom changes to the htaccess file to help prevent unauthorised access following a hack.

These Bluehost modifications caused unnecessary work r

[2017-06-17 11:57] jlb30504 opened #23 "Upgrade endurance cache"
@MikeHansenMe What is the best way to upgrade the endurance cache for www.tngenweb.org?  We currently have 0.2 of the page cache and no way to turn cache off and no purge button.  I called Bluehost support and they said to just copy the two files from a later Bluehost site.  I am nervous about doing that.  Please confirm this approach is OK.  Thanks.

[2017-06-17 12:06] MikeHansenMe commented on #23
I will get it updated for you. 0.2 is really old. In the future you will
not need to update it, it will update itself.

On Jun 17, 2017 2:05 PM, "jlb30504" <notifications@github.com> wrote:

@MikeHansenMe <https://github.com/mikehansenme> What is the best way to
upgrade the endurance cache for www.tngenweb.org? We currently have 0.2 of
the page cache and no way to turn cache off and no purge butto

[2017-06-18 07:28] acjmckay93 opened #24 "Endurance cache breaking when a user comments"
Hi

I hope you can help,
details
I recently started on Bluehost, and am having problems.

I installed a plugin that handles an event page, where users can view an event and comment on the event.
the only issue being when i tested it an left a comment the following errors came up.

Warning: Missing argument 2 for Endurance_Page_Cache::comment(), called in /home1/dynaerob/public_html/wp-includes/cla

[2017-06-18 07:30] acjmckay93 commented on #24
the way i see it is i need to add an argument in the class-wp-hook.php , but before i go and break everything id like to get some advice

[2017-06-18 12:10] MikeHansenMe commented on #24
hey @acjmckay93 thanks for letting me know about this. I just committed a fix and will get it into the next release.
https://github.com/bluehost/endurance-page-cache/commit/fefa98c4ddd41cc860967b3197f139950c797bd0

[2017-06-18 12:10] #24 closed

[2017-06-20 10:31] jlb30504 commented on #23
@MikeHansenMe Thanks for getting the endurance cache upgraded for www.tngenweb.org.  I see cache files coming and going but the lifetime seems very short.  I see cache enteries going away after just a few seconds.  Is this normal?

[2017-06-20 14:52] MikeHansenMe commented on #23
It depends. Basically the way it works is you have some settings on the Settings -> General page that allow you to set how aggressive you want the max life to be. The only difference between the top 3 levels is duration. However the main thing the plugin does is actually purge the cache on specific actions to ensure it is fresh if anything has changed. There are times when a plugin or cron on your

[2017-06-21 01:52] jlb30504 commented on #23
@MikeHansenMe I changed the setting on the cache to the most aggressive level but nothing has changed.  Since the upgrade, I am showing only 5 or 10 inodes in endurance-page-cache.  There were more than 10,000 pages cached in the same time frame with the 0.2 version of the cache.  Can you please look into why the cache isn't working for www.tngenweb.org?

[2017-06-21 14:45] MikeHansenMe commented on #23
@jlb30504 can you send me an email to mike.hansen [a] endurance.com? The newer versions of the plugin are more selective in what they cache but there are a few tweaks we can make to get it working really well.

[2017-06-22 03:56] trentontri commented on #7
@bluehost this is creating massive headaches for me too.

[2017-06-23 06:17] Johan333g commented on #4
@MikeHansenMe -"Not sure what about it looks like a hack job"... well "we add this plugin" without consent, without the ability to delete the plugin through the dashboard.

So you maliciously injected code into a website that you don't own without permission, for your own or affiliate benefit.. that's hacking.

You have admitted to the creation of the software that hacks into sites you don't own b

[2017-06-23 06:30] Johan333g commented on #16
*DO NOT ACTIVATE THIS PLUGIN* delete the file mu-plugins/endurance-page-cache.php from your install using an FTP manager.. Then install a real caching plugin.

@MikeHansenMe "if the site is under a traffic spike and we attempt to cache it as an alternative to it crashing" That is because you have oversold your server space.. use load balancing instead.. don't hack someone's property.

[2017-06-23 06:33] Johan333g commented on #23
DO NOT ACTIVATE THIS PLUGIN delete the file mu-plugins/endurance-page-cache.php from your install using an FTP manager.. Then install a real caching plugin that doesn't break your site.

[2017-06-23 06:36] Johan333g commented on #11
DO NOT ACTIVATE THIS PLUGIN delete the file mu-plugins/endurance-page-cache.php from your install using an FTP manager.. Then install a real caching plugin.

The disable is not working for you because the files are directed by the .php DO NOT ATTEMPT to rewrite your access file unless necessary

[2017-06-25 01:21] tmz1970 commented on #16
HostGator did this too. No warning, no ask.
Also -- this plugin does not seem to respect core Capabilities. I created a custom Role with NO capabilities at all, except to view entries from Gravity Forms. But now these users can also access the Cache top-menu, since this plugin doesn't account for Capabilities.

[2017-06-25 01:37] tmz1970 opened #25 "No WP role-capability controls?"
I created a custom Role with NO capabilities, except viewing entries from Gravity Forms. I even removed Read, and Level_0. Yet this role can still access the Cache dropdown in the top-bar of the wp-admin. Shouldn't this plugin respect wp role capabilities?

[2017-06-25 19:26] MikeHansenMe commented on #25
@tmz1970 thanks for letting me know. I will get this fixed ASAP. We will be releasing a new version this week and will be sure to get this fix in.

[2017-06-26 14:16] MikeHansenMe commented on #25
https://github.com/bluehost/endurance-page-cache/commit/e4d3d71a723e8fb2d50e8a1649391516e8c83ab0

That should resolve the role issue. Please let me know if you run into any additional issues, I am happy to get them resolved.

[2017-06-26 14:16] #25 closed

[2017-06-27 13:07] rsg-ndilworth opened #26 "Page cache fails silently when term_id is zero (0); breaking site functionality"
Endurance page cache fails silently when the function _edit_terms()_ (at line 200) gets a _term_id_ of zero (0). This causes scripts to fail, and silently undermines plugin functionality. Please add a check or other correction for this issue.

[2017-06-27 14:39] MikeHansenMe commented on #26
@rsg-ndilworth thanks for reporting the issue. I will get a fix in for the next release. Which should go out sometime this week.

[2017-06-27 14:48] MikeHansenMe commented on #26
https://github.com/bluehost/endurance-page-cache/commit/26bf5383940b0ba2fcab6a67f052b081f842ab8b

[2017-06-27 14:48] #26 closed

[2017-06-27 15:14] rsg-ndilworth commented on #26
@MikeHansenMe. I have applied and tested your fix on my instance. It fixes my use case. Thank you.

[2017-06-27 15:47] MikeHansenMe commented on #26
No problem. Thanks again for reporting it.

[2017-06-28 06:09] Johan333g commented on #16
To be a little more specific for those having issue with this.. The federal Computer Fraud and Abuse Act provides in part that Whoever (Mike Hansen, Endurance International Group) having knowingly accessed a computer without authorization or exceeding authorized access, and by means of such conduct having obtained information from any protected computer if the conduct involved an interstate or for

[2017-06-29 21:13] senordeer commented on #11
I have had this issue with some blogs that get an error string when someone tries to post a comment.  I followed Johan's steps to delete the file.  Just chiming in, Bluehost should be aware of this conflict with Wordpress.  Annoying!

[2017-06-29 21:30] MikeHansenMe commented on #11
@senordeer this is a known issue and we will be releasing an update very soon to get it corrected. The fix ( https://github.com/bluehost/endurance-page-cache/commit/fefa98c4ddd41cc860967b3197f139950c797bd0 )is currently in the master branch.

Thank you for letting us know. If you have any other bugs, please do not hesitate to let us know. We want to get the bugs corrected.

[2017-06-29 21:32] senordeer commented on #11
Hey Mike, fantastic, it's only recently I have had people complain.  Good to hear, I will remain a happy Bluehost affiliate seller :)

[2017-06-30 04:35] Johan333g commented on #11
The solution I used above was just temporary to update and get the sites functional enough to be usable.

This plugin has been causing multiple issues with sites for a while now, without disabling the plugin after purging all cache first the site becomes unusable for the administrator, no longer updated pages and posts correctly; even after removal I had to log out of the site and then back in to

[2017-07-06 15:20] goldtreefrog commented on #11
Amen to the complaints above.

I have lost trust in BlueHost because BlueHost did NOT notify webmasters that this plugin would be installed.

Also, I have a related issue I bring up because even if we do something about the WordPress caching issue, BlueHost seems to cache other files without our knowledge or consent. Yesterday I ran into an apparent server-side caching issue on a STATIC HTML page

[2017-07-20 15:38] hanasazi commented on #11
Most of the sites I work on where EPC is installed seem to be working okay, but I'm having terrible problem on one. It's causing PHP errors like this: Invalid arguments passed in /home2/cathesn4/public_html/wp-content/mu-plugins/endurance-page-cache.php on line 462 (this error showed up on July 1, 8 and 19). The thing is that the site is not accessible by everyone. The owner is an artist and is ab

[2017-07-25 20:34] csonnek commented on #24
@MikeHansenMe I'm from Jetpack support and we're seeing this error in the wild again:

[code]

I've directed the customer to contact Bluehost support, but am noting the error in case anything changed. (reference for me 606942-zen )

[2017-08-08 16:39] davidmoore-io commented on #16
Yeah.... this just cost us an afternoon. Installing (pretty well hidden) plugins on your clients sites, doing URL injection, editing htaccess files etc etc etc has cost us (and by the looks of things, lots of others) a load of unnecessary work and stress. It appears to be something that the parent company (Endurance) do across their hosting companies?

I'd suggest making it really obvious it exist

[2017-08-22 20:11] mimicplay opened #27 "Automatically disable Endurance caches when another caching plugin is installed?"
I just installed WP Rocket, a premium caching plugin, on a website yesterday (ils-automation.com). While troubleshooting after the install, I discovered these Endurance page & browser cache plugins. I didn't even know these had been installed by BlueHost onto my WordPress site until I realized caching wasn't working as it is supposed to with WP Rocket.

Anyhow, I see Endurance has added some code

[2017-08-22 20:20] MikeHansenMe commented on #27
Hey @mimicplay it sounds like you have an older version of the plugins. I will jump into the account, take a look at the versions to see if there is a bug here that needs to be addressed and get them fully disabled for you. Thanks!

[2017-08-22 20:22] mimicplay commented on #27
@MikeHansenMe Wow thank you for the insanely fast response! Endurance Browser Cache is listed as 0.4. Endurance Page Cache is listed as 0.9 (info through my WP Admin Plugins screen).

[2017-08-22 20:33] MikeHansenMe commented on #27
Current version is 1.1. I removed the browser cache plugin as it was merged into the page cache plugin. There is indeed a bug with the nav item showing when the plugin is disabled. I will get that into the next release, thanks for letting me know.

Everything should be good to go now. Let me know if you have any additional questions. I am happy to help.

[2017-08-22 20:43] mimicplay commented on #27
Thanks! I just have the remaining question about the htaccess file. The conflicting code that I _think_ was inserted by Endurance is as follows The Expires stuff especially needs to go away as WP Rocket is setting those values in its own plugin (so I've now got duplicate Expires values in htaccess). Can all the code below be safely deleted by me?

<IfModule mod_expires.c>
	ExpiresActive On
	Expire

[2017-08-22 20:48] MikeHansenMe commented on #27
That was from the plugin when it was active. I just resaved your permalinks, which regenerated the htaccess file and it removed those lines.

[2017-08-22 20:53] mimicplay commented on #27
@MikeHansenMe Thank you so much - that fixed it! If you're ever in northern WI, I owe you a beer for your help today  :) Cheers!

Oh, I will let Lucy at WP Rocket know that you helped me out with this, and what you needed to do to fix it.

[2017-09-23 04:01] Nodws commented on #11
Horrible practice, just went ahead and cancelled all known bluehost accounts in our company (20+)

[2017-10-06 16:08] pippercameron opened #28 "Add context to caching level settings."

[2017-10-14 23:11] laurentzahnd commented on #27
Aloha @MikeHansenMe, I have the same issue, I'm using W3 Total cache and I'd like to remove Endurance Page Cache 1.1 and Browser cache 0.4 because it's constantly messing up my CSS and updating my website is a nightmare. I don't know how it got in my plugins because I'm not even a bluehost customer?!
I'm not a coder and need your assistance please.

[2017-11-22 17:50] rsg-ndilworth opened #29 "PHP notice error"
[22-Nov-2017 15:45:47 UTC] PHP Notice:  Undefined variable: new_expirations in wp-content/mu-plugins/endurance-page-cache.php on line 641

[2017-11-22 18:37] MikeHansenMe commented on #29
Looking at the code it, it looks like the reason that may be possible is if the value of the dropdown was edited on the settings page. We will get a default set in the switch case that will set the $new_expiration variable. That should remove the chances of this notice. Thank you for reporting it.

[2017-11-29 18:25] thetwosents commented on #18
Having same issue for mobile devices now. I have disabled the plugin and also can show it working in some browsers but not others. Considering this comes stock with Bluehost, I'd love a "If this happens to you, please do this" to offset the effects of the plugin. Love the functionality but yea, need to be able to see my changes pretty bad.

[2017-11-29 18:30] MikeHansenMe commented on #18
Hey @thetwosents we are working on some documentation for this plugin but for the time being, if you give me your domain I will make sure that all the layers are turned off. In the settings general page you can change the level to 0 or Off and it will turn off the nginx layer and expires headers. Then you can turn it back on when you are ready.

[2017-11-30 04:52] Haussamen opened #30 "Pages won't refresh"
I installed W3 Total Cache this week to improve my site's performance, and ever since I did that pages on my news website at http://nmpolitics.net/index don't update on all browsers and devices when I make changes. I've gone through tutorials to ensure I installed W3 Total Cache and gotten the advice that it's set up correctly, and the likely culprit is that Endurance Page Cache and Endurance Brow

[2017-11-30 16:47] MikeHansenMe commented on #30
The Endurance Cache plugins will step aside if any other cache plugin gets installed. Like Super Cache, W3TC, or WP Rocket. With any additional caching plugins, the EPC basically steps aside and does nothing, allowing the other plugin to handle caching.

[2017-11-30 18:30] Haussamen commented on #30
Thanks for getting back to me. So there's no way it could be causing problems? Does it leave residual code behind that could create a conflict?

[2017-12-06 12:57] TimothyAlex1 opened #31 "PHP Fatal error"
A couple of weeks ago, one of my WordPress plugins stopped working. I have been going back and forth with the developer since, and they pinpointed this error as the problem.:

PHP Fatal error:  Uncaught Error: Call to undefined function is_user_logged_in() in /.../wp-content/mu-plugins/endurance-page-cache.php:370
Stack trace:
#0 /.../wp-content/mu-plugins/endurance-page-cache.php(403): Endurance_

[2017-12-19 03:16] ran81 opened #32 "PHP Notice: Undefined property: Endurance_Page_Cache::$is_enabled"
On line 69 there's a check ```$this->is_enabled```. Should probably be ```$this->is_enabled()```

[2017-12-30 11:32] MagneticMule commented on #16
Why does anyone use Bluehost in this day and age? I moved away from them long ago. Do yourself a favor and get serious about your hosting.  Learn about containers, Linux admin and shift over to somewhere like DigitalOcean. Your wallet and your sanity will thank you in the long run.

[2017-12-30 18:34] BrettGregson commented on #16
@MagneticMule not always the developers choice. One of my clients was using them (I eventually did convince them to move)

[2018-01-18 20:52] BLUX88 opened #34 "Endurance-Page-Cache and PHP Edge Plugin"
Hi all,

I have a Wordpress site that occasionally encounters issues with the navigation bar distorting and the site completely breaking where any thing clicked on simply downloads a PHP file. I've come to realize it is due to an "endurance page cache" and "PHP edge plugin". Neither of these are listed in the Plugins directory.

I originally built this site on a staging site hosted by Bluehost and

[2018-01-18 23:29] MikeHansenMe commented on #34
Hey @BLUX88 chances are that the issue is the php-edge plugin. This is a plugin built for the Bluehost platform to ensure you are running php 7 & in the future maybe a newer version. This plugin will not work on a Dreamhost account. The Endurance Cache plugin is also built specifically for the nginx cache layers at Bluehost. These plugins are not on the repo for that reason (they only work here at

[2018-01-30 17:54] hhuesca opened #35 "Your plugin is hideous.... Please, please consider changing your profession."
This is the worst piece of crap plugin I've ever seen. Just lost a night trying to update my site in the live version. Please drop this piece of shit!

[2018-01-30 18:40] #35 closed

[2018-02-13 18:05] cm3rt commented on #27
I found a working solution:

I tried migrating my site 3 different ways and it continued to give me 500 errors due to .htaccess corruption. What would happen is i would migrate it, it would work, but then whenever I would save settings, it would re-corrupt everything.

I was about to give up migrating until I figured it out. First, when I migrated my site, once it was up and running, I made a work

[2018-02-28 19:37] iseabail commented on #34
I moved a site from BlueHost to Dreamhost and was just beating my head against the wall.  This solved my problem!  THANK YOU! THANK YOU! THANK YOU!

[2018-03-11 06:53] cyric118 commented on #27
@sovrinbloc I created an account here just to login and say thank you.  This damn Endurance plugin has had me banging my head against the wall for three days now.  Your solution was so simple, I can't believe I didn't think of doing it myself.  So far, it looks like it worked as perfectly as I could hope.  Thank you!

[2018-03-14 02:54] rachelmsevey opened #36 "Http Error 500"
I'm very much a beginner, so I hope on on the right path here. When I go to bluehost and try and login to my wordpress site, I get the following message:

This page isn’t working
box5454.temp.domains is currently unable to handle this request.
HTTP ERROR 500

I checked the error log in the file manager and the last few lines are:
     Stack trace:
     #0 /home1/sherryd0/public_html/wp-content/mu-

[2018-03-14 03:43] MikeHansenMe commented on #36
hey @rachelmsevey I am going to jump in and take a look at the account. Do you mind sending me an email at mike.hansen @ endurance.com so I can share the details of what I find?

[2018-03-14 04:30] rachelmsevey commented on #36
Thanks, @MikeHansenMe for your help!

[2018-03-14 04:30] #36 closed

[2018-05-19 23:04] topdogsweepstakes opened #37 "I am having technical issues"
I can not use my post editor to write a new post in word press.  At one point today I deactivated all plugins and it came back and worked temporarily.  I then logged out of wordpress and logged back in and the same issue appeared again.  So eventually I deleted every plugin I had.

I am working with someone on wordpress.org who thinks after troubleshooting that my issue is with endurance cache.  H

[2018-05-19 23:28] MikeHansenMe commented on #37
I am happy to help. Do you mind giving me a domain? I would like to look
into it a bit more to see what is going on. If you could also link to the
thread where someone from .org helped you teoubleshoot, that would be
helpful as well.

Thanks

On Sat, May 19, 2018, 5:04 PM topdogsweepstakes <notifications@github.com>
wrote:

[2018-05-19 23:31] topdogsweepstakes commented on #37
Hi, my website is www.topdogsweepstakes.com.

I will send you the link sure it is https://wordpress.org/support/topic/cannot-post-in-wordpress-also-pages-empty-when-i-go-to-edit/#post-10299700

That is all I have, I had bluehost shut off endurance cache on their end for now.

[2018-05-19 23:34] topdogsweepstakes commented on #37
thanks for replying so quick

[2018-05-20 00:11] topdogsweepstakes commented on #37
Ok, I am not much of a tech person, but I may have gotten everything working again.  I decided to reinstall cloudflare as my first plugin and now I have the post editor back.  I am adding some plugins back now, afraid it may break my site but I need some of them.

[2018-06-05 00:54] diurchenko commented on #11
4 hours wasted on attempts to get rid of "Generated by Endurance Page Cache". This is a disease, not a plugin. I have removed everything from every corner of each menu, removed it from mu-plugins folder, purged every possible cache… still can't see the root page of my website. sick 🤯

[2018-06-19 09:39] mattisbodtker opened #38 "Endurance Cache preventing AJAX loading"
Been struggling with AJAX loading though NextGen Gallery on our Bluehost Wordpress site. Been debugging with NextGen, we have concluded that its the Caching that is causing it.

[2018-06-19 11:01] #38 closed

[2018-07-12 20:13] hhuesca commented on #11
Fuck you and your plugin!

[2018-07-24 01:27] borreLore opened #40 "PHP Fatal Error due to endurance-page-cache.php"
Hello, I am having a weird error suddenly pop up on my site that appears to be due to the endurance-page-cache. From my research, it looks like a lot of people have been opening posts on here and getting the issue resolved. In some cases, it even looks like the person who appears to be the creator of this script, MikeHansenMe, drops by to help out.

The full error is:

Fatal error: Call to undefin

[2018-07-25 14:53] MikeHansenMe commented on #40
Hi @borreLore can you give me a domain name? I can see if it is something I can look into for you.

[2018-07-25 15:06] borreLore commented on #40
Hi @MikeHansenMe , sure, no problem. My domain is http://nova-technica.com/

Thanks for the reply!

[2018-07-26 19:01] borreLore commented on #40
Hi @MikeHansenMe , have you had a chance to see if you can spot what is causing this error?

I have checked the PHP code, but unfortunately I have not worked with PHP before and it is difficult for me to troubleshoot this. All I know is that it suddenly stopped working on that date after working fine for the past year. My first guess was there was an update to the endurance-page-cache.php, but I d

[2018-07-26 19:45] MikeHansenMe commented on #40
Hey @borreLore I took a quick look but I do not have access to that site (only Bluehost sites), Typically when an error similar to the one you are seeing occurs, it means something else is erroring and output buffering  (in this plugin) is catching it. What I would do to solve the problem is:

Rename endurance-page-cache.php to endurance-page-cache.php.bak
Reload the site
Take note of the new erro

[2018-07-26 20:41] borreLore commented on #40
Hello @MikeHansenMe , awesome, thanks for those steps! I have renamed it in the past, and you are right, there is another error that pops up at that point. I will give it a shot to resolve this error. Thanks again for your help!

[2018-07-27 18:55] borreLore commented on #40
Hello @MikeHansenMe and anybody else having this problem. I managed to resolve the issue, and I wanted to post my steps for anybody else experiencing this.

1. I tried @MikeHansenMe 's suggestion to rename the endurance-page-cache.php file to endurance-page-cache.php.bak, but this resulted in the white screen of death. There was simply no error message that followed, so I renamed it back to the or

[2018-08-07 13:49] juliolopez78 opened #41 "Add <ifModule mod_headers.c> when modifying .htaccess"
Working on a local dev environment set up with [Vagrant](http://vccw.cc/) and I don't have `mod_headers.c` installed so the plugin's updates to the .htaccess file break my environment, then I have to go in and manually edit the .htaccess file.

I know this plugin was built for bluehost, but some of us devs like to have our dev environment local and only push stuff to prod after it's been tested.

[2018-08-07 20:39] MikeHansenMe commented on #41
Thanks again @juliolopez78. Gonna close this one out.

[2018-08-07 20:39] #41 closed

[2018-08-31 18:44] Poogier opened #43 "Disable caching for certain folder"
I just installed an LRS on Wordpress and the developer said that the folder it's installed in should not be cached.  Can I disable caching for that folder?

If I need to install another caching plugin to accomplish this, will that plugin override Endurance Page Cache?  I can't manually turn off Endurance Page Cache.

Thanks for your help.

[2018-10-03 12:58] 3dassets commented on #18
I deleted my files and the website still feed me outdated content, how can this happen?

[2018-10-13 23:10] rylanb commented on #11
This plugin is the worst. Blocks other plugins from loading assets, you delete it, doesn't clear out and fix any issues. Terrible practice.

[2018-10-17 21:14] bkjproductions commented on #29
Has this been resolved yet? Noticing it over at a Bluehost site.

[2018-10-18 15:01] MikeHansenMe commented on #29
Looks like the change was never made. I will get it updated on the repo today.

[2018-10-18 15:29] MikeHansenMe commented on #29
Here is the PR: https://github.com/bluehost/endurance-page-cache/pull/44 we will get that in asap but wanted to share in case you wanted to apply it before.

[2018-10-18 19:42] bkjproductions commented on #29
Hi Mike,
Thanks!
--Brian

At 8:29 AM -0700 10/18/18, Mike Hansen wrote:

--
BKJ Productions, LLC
781-662-8800

214 Commercial Street #200
Malden, MA 02148

http://www.bkjproductions.com | info@bkjproductions.com

Celebrating over 25 years in business!

[2018-11-05 17:00] #40 closed

[2018-11-05 17:05] #37 closed

[2018-11-05 17:07] #34 closed

[2018-11-05 17:21] #30 closed

[2019-02-04 20:57] wpscholar commented on #34
@finsdad We realize the frustration that this can cause. We are working to have a reliable method of checking if we are on a Bluehost environment so that we don't run any of these customizations outside of a Bluehost server even if the code is copied over.

[2019-02-08 14:57] john-f-chamberlain commented on #34
@wpscholar in reality this type of plugin shouldn't ever be used to begin with. What if PHP 7.4 comes out tomorrow and is installed on BlueHost, but absolutely destroys half the WordPress installations / plugins that are available?

I'd recommend leaving WordPress on whatever version of PHP their account is running at the time WordPress is installed and not upgrading PHP automatically. Obviously c

[2019-02-08 20:18] MikeHansenMe commented on #34
php-edge is no longer installed on new installs. That was a short-term solution to make sure our customers new WP sites were getting the newest version of PHP until we could get the server defaults increased. We now have the defaults increased and no longer have a need for php-edge. Sites that have been on bluehost for awhile may still have it in place.

To your question about when new versions co

[2019-03-19 00:47] DustinAllan commented on #34
I just did an new wordpress install and ran into this issue. It is still definitely installed by default. I wanted to be on php 7.2 and this edge plug-in would keep forcing me back to 7.0.33. Even the bluehost support wasn't able to figure this out. After four calls into support, and 4 times being forced back to version 7...I figured it out myself. Frustrating is an understatement. Especially when

[2019-03-19 00:53] DustinAllan commented on #34
I just did an new wordpress install and ran into this issue. It is still definitely installed by default. I wanted to be on php 7.2 and this edge plug-in would keep forcing me back to 7.0.33. Even the bluehost support wasn't able to figure this out. After four calls into support, and 4 times being forced back to version 7...I figured it out myself. Frustrating is an understatement. Especially when

[2019-03-19 15:26] MikeHansenMe commented on #34
We recently switched out our installer and it got re-included. We are removing php-edge from the farm ASAP.

[2019-04-03 15:20] afragen opened #56 "is_feed and is_404 called incorrectly"
Just creating an issue for reference.

My debug.log is littered with PHP notices reporting that is_404 and is_feed are being called incorrectly. I have traced this back to this file.

[28-Mar-2019 22:17:21 UTC] PHP Notice is_404 was called incorrectly. Conditional query tags do not work before the query is run. Before then, they always return false. Please see Debugging in WordPress for more infor

[2019-04-04 16:52] omrb opened #58 "Please stop that plugin auto-installing!!"
Your auto-installing must-use plugin(!) crashes my little blog and i am tired of cleaning the mess it creates. Please stop auto-installing!!!

[2019-04-17 07:57] Pikamander2 opened #59 "This plugin can cause 404 errors when saving a menu in WordPress"
Whenever we saved our WordPress menu, this plugin was throwing an internal 404 error for every single menu item. As a result, the requests were taking far longer than they were supposed to and eventually started to time out completely (after 2 minutes) once the menu got big enough.

None of Bluehost's support agents seemed to know what the issue was, so I had to track down the issue using the [Que

[2019-04-17 16:02] wpscholar commented on #59
Thanks for the report @Pikamander2 ! We've got a fix in the queue for this.

[2019-04-17 16:06] #56 closed

[2019-04-17 20:46] earnjam commented on #58
This plugin is required in order to handle cache purging. Without it, your site will not be able to clear the edge cache and your content will not update right away after being edited.

I'd be curious to understand what about the plugin is causing your site to crash. That should not be happening. Can you provide any additional details?

[2019-04-17 20:49] earnjam commented on #31
This is an older issue and should be resolved now. I'm going to close it, but if it still remains, please let feel free to reopen and let us know.

[2019-04-17 20:49] #31 closed

[2019-04-17 21:27] #58 closed

[2019-04-17 21:30] omrb commented on #58
I uninstalled some older plug-ins and everything acting normal now. Problems solved, thanks!

[2019-04-18 09:41] earnjam commented on #4
This was resolved in 9e090cb, so I'm going to close this issue. If you identify other problems with the plugin, please feel free to open a new issue.

[2019-04-18 09:41] #4 closed

[2019-04-18 09:48] earnjam commented on #7
I'm going to close this, as it hasn't been updated in > 2 years and I think these issues have been resolved. If you are still having problems, please feel free to add a comment, open a new issue, or open a support ticket.

If you don't want to have this caching enabled, you can change it in the WordPress admin under Bluehost > Performance (if you have the Bluehost plugin active), or under Settings

[2019-04-18 09:48] #7 closed

[2019-04-18 09:57] earnjam commented on #11
If you don't want to have this caching enabled, you can change it in the WordPress admin under Bluehost > Performance (if you have the Bluehost plugin active), or under Settings in the Endurance Cache section by choosing `Off (Level 0)` from the select input.

Once disabled, you can remove the mu-plugin, or just leave it, as it does nothing at that point.

If you are still having problems, please

[2019-04-18 09:57] #11 closed

[2019-04-18 10:08] earnjam commented on #16
If you don't want to have this caching enabled, you can change it in the WordPress admin under Bluehost > Performance (if you have the Bluehost plugin active), or under Settings in the Endurance Cache section by choosing Off (Level 0) from the select input.

Once disabled, you can remove the mu-plugin, or just leave it, as it does nothing at that point.

If you are still having problems, please fe

[2019-04-18 10:08] #16 closed

[2019-04-18 10:10] earnjam commented on #18
If you don't want to have this caching enabled, you can change it in the WordPress admin under Bluehost > Performance (if you have the Bluehost plugin active), or under Settings in the Endurance Cache section by choosing Off (Level 0) from the select input.

Once disabled, you can remove the mu-plugin, or just leave it, as it does nothing at that point.

If you are still having problems, please fe

[2019-04-18 10:10] #18 closed

[2019-04-18 10:14] earnjam commented on #20
@wesbos It's been almost 2 years since you opened this, but I wanted to check in to see if ever got this resolved? It should be clearing on permalink changes, so if it isn't happening for some reason that would be a bug we'd love to get fixed.

That said, if you don't want to have this caching enabled, you can change it in the WordPress admin under Bluehost > Performance (if you have the Bluehost

[2019-04-18 10:18] #21 closed

[2019-04-18 10:18] #23 closed

[2019-04-18 10:20] earnjam commented on #32
I think this is resolved, as there are not any references to `$this->is_enabled` in the plugin. If it's still a problem, please feel free to update the issue and we can take a look.

[2019-04-18 10:20] #32 closed

[2019-04-25 13:54] wesbos commented on #20
@earnjam you need to document this on this github repo

[2019-04-25 16:48] earnjam commented on #20
@wesbos Thanks. Doing some work on the plugin, so will add some GitHub documentation to the list.

I'm going to close this since it seems like the original issue is resolved. If you're still having trouble, please let us know.

[2019-04-25 16:48] #20 closed

[2019-04-29 19:13] micahwood opened #66 "Cache purge request making thousands of requests"
Not sure what triggered this as the UI said the cache setting was 0 (disabled) but I just found out this plugin was making multiple requests every second to my site for the past month. My access logs were filled with this:
[code]

[2019-04-30 13:14] wpscholar commented on #66
Oh, wow! It looks like we have the same name.

We've been doing a deep dive into the Endurance Page Cache lately and have identified a few issues which may be contributing to this. In one scenario, we found that changing the cache setting from certain locations had no effect. We have a fix ready to go for that and should be out within the next 7 days or so. It is possible that this is something yo

[2019-04-30 16:30] micahwood commented on #66
Thanks, found the database had a setting of 2 while the UI showed 0. Got it updated to 0 in the db as well and the requests stopped.

[2020-07-03 12:06] mattsmac opened #88 "Parse error: syntax error, unexpected '.1' (T_DNUMBER), expecting ')' in /home1/grbfkhmy/public_html/test/wp-content/mu-plugins/endurance-page-cache.php on line 30"
After installing a new wordpress site, the site shows a generic error message.  After enabling debugging in wp-config.php, I see the error in the subject line.  Since EPC_VERSION is assigned as T_DNUMBER, 2.0.1 throws an error.  If I change this to '2.0.1', as a string, the site loads correctly.

[2020-08-06 20:27] #59 closed

[2020-08-06 20:28] #66 closed

[2021-03-04 04:13] sokel123 commented on #18
Hi I have just subscribed with Bluehost and it seems Bluehost is having issues. I am currently testing phpMyAdmin by creating php pages that do not refresh even when new data are added to the database but it does not work. It caching and staying on old info. I have also noticed that this issue has been reported as far 2017 and worried that I am on a sinking ship

[2021-03-04 12:45] earnjam commented on #18
@sokel123 Add this to your `.htaccess` file and it will disable caching.
[code]

[2021-03-04 13:53] MikeHansenMe commented on #18
Hi @sokel123 in addition to what @earnjam mentioned. You may also need to log into your bluehost control panel and disable Cloudflare CDN on your account.

[2021-03-30 03:41] Leah659 opened #102 "Wordpress / Bluehost not updating"
I have been reading about this issue happening since 2017. It apparently is still an issue. My website just sits there without any updates, despite me working on it in wordpress. I've never had issues like this before. I've disabled both bluehost plugins in wordpress. I've set the cache to zero. I've changed the wordpress to "classic" editing. Nothing works. Wordpress is convinced I'm updating som

[2021-03-30 03:43] Leah659 commented on #102
Even when I edit and publish the page and then view the page from wordpress it loads the same un-updated page LOL

[2021-06-02 06:30] davmillar opened #105 "Endurance Caches a Single Site, Breaking Sibling Sites in a Multisite Install"
**Summarize the issue (briefly)**
Endurance seems to break Wordpress Multisite installs by caching a single site as the _index.html page and serving it on all of the sites in the multisite group.

**Steps to reproduce**
  1. Create a WP multisite install.
  2. Allow caching to take place.
  3. Visit more than one of the sites in the network; they will have incorrect content on at least 1.

**Expec

[2022-02-25 15:43] wpscholar opened #112 "Update references to page cache in brand plugins before moving this repo to the new GitHub org"
This repo is directly referenced in all of our brand plugins. When moving this repo to the new GitHub org, we need to make sure all of these get updated.

Bluehost:
https://github.com/bluehost/bluehost-wordpress-plugin/blob/master/inc/performance.php#L41

HostGator:
https://github.com/bluehost/wp-plugin-hostgator/blob/b948fc39715a56618395fbbeb4393f10c1f78c1b/inc/performance.php#L57

Web.com:
Doesn